 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/6084f5c287b656eb7be68e59a672f8f669a9865708719ecbf857bf4fa46eecb8f57e32c449d5e0ed3e7e2e7ef501fb91c1c644e5771b2e7eaf16f5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 730px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 442px;
  margin: 203px auto 0;
}

.u-section-1 .u-line-1 {
  width: 150px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 106px 0 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 310px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 29px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 310px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 17px 0 23px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 310px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 310px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 46px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-line-1 {
    height: 6px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-1 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-1 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-1 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-1 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-icon-4 {
    height: 53px;
    width: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-icon-4 {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-1 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-1 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-icon-4 {
    height: 38px;
    width: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-4 {
    height: 32px;
    width: 32px;
  }
}